/* ./styles/main.css */

body {
    background-color: #f8f9fa; /* Um cinza bem claro para não cansar a vista */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: #212529;
    letter-spacing: -1px;
}

/* Deixar os botões com cantos levemente arredondados */
.btn {
    border-radius: 8px;
    font-weight: 500;
    transition: transform 0.2s;
}

/* Efeito de leve zoom ao passar o mouse nos botões */
.btn:hover {
    transform: translateY(-2px);
}